<h1>Blog posts:</h1>
<p><%= link_to "Add New Post", new_post_path %></p>
<hr />

<% @posts.each do |p| %>
	<h2><%= link_to p.title, p %></h2>
	<p><%= p.content %></p>
	<p><%= link_to "Edit", edit_post_path(p) %> | 
	<%= link_to "Delete", p, :confirm => "Are you sure?", :method => :delete %>
	</p>

	<hr />
<% end %>