<h1>New Post</h1>

<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<ul>
		<% @post.errors.full_messages.each do |message| %>
			<li class="Error"><p><%= message %></p></li>
		<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</p>
	<p><%= f.submit "Add a new post" %></p>
<% end %>